body {
    font-family: sans-serif;
    background-color: #3A506B;
    color: #E1F4F3;
    box-sizing: border-box;
    margin:0px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 0px ;
    flex-grow: 1;
}
.calculator {
    display: flex;
    flex-direction: column;
    background-color: #1c2541;
    padding: 16px;
    border-radius: 8px;
}

.display {
    background-color: #080E20;
    padding: 20px;
    padding-left: 30px;
    border-radius:8px ;
    font-size: 25px;
    font-weight: 700;
}

.sub {
    height: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    color:#c9dbdc ;
    font-size: 18px;
    font-weight: 300;

}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #3A506B;
    border-radius: 8px;;
    padding:20px 40px;
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    width: 0px;
}
.equal {
    flex-grow: 1;
    background-color: blue;
}

.row4 .op,
.row3 .op,
.row2 .op,
.row1 .op {
    color: #080E20;
    background-color: yellow;
}

.row1 .clear {
    background-color: red;
}

.row1 div {
    background-color: rgb(127, 136, 255);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c2541;
    height: 40px;
    font-weight: 900;
    font-size: larger;
}